<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Cardápio Online</title>    
</head>
<body>
    <header>
        <h1>Cardápio Online</h1>
    </header>
    <div id="menu-container"></div>    

    <script>
        src="script.js"
        function renderMenu() {
        const menuContainer = document.getElementById('menu-container');
        const products = getProducts();

        products.forEach(product => {
            const menuItem = document.createElement('div');
            menuItem.classList.add('menu-item');
            menuItem.innerHTML = `<h2>${product.name}</h2><p>R$ ${product.price.toFixed(2)}</p>`;
            menuContainer.appendChild(menuItem);
        });
    }
        function getProducts() {
            return [
                { name: 'Pizza Margherita', price: 15.99 },
                { name: 'Hamburguer Clássico', price: 8.99 },
                { name: 'Salada Caesar', price: 7.49 },
                { name: 'Sushi Misto', price: 18.99 },
                { name: 'Spaghetti Bolognese', price: 12.99 }
            ];
        }
        window.onload = renderMenu;
    </script>
</body>
</html>
